{% load static %}

<!doctype html>
<html lang="ro">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/logo.css' %}">
    <title>eVot - Voteaza Online.</title>
</head>

<body>
<nav>
	<input id="nav-toggle" type="checkbox">

	<a href="{% url 'pagina_de_start' %}">
	<div class="logo">
	  <span class="left">{</span>
	  <span class="right">}</span>
	  <span class="text"><strong>VOT</strong><br>ELECTRONIC</span>
	</div>
	</a>

	<ul class="links">
		<li class="nav-item">
			<a href="{% url 'pagina_de_start' %}">Start</a>
		</li>
		<li class="nav-item">
			<a href="{% url 'info' %}">Info</a>
		</li>

		{% load user_tags %}
		{% if request.user|has_group:"Admin" %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'coordonator:officercrud' %}">Coordonator</a>
		</li>
		{% endif %}

		{% if user.is_authenticated %}
		<li class="nav-item">
			<a href="{% url 'conturi:logout' %}">Ieșire</a>
		</li>
		{% else %}
		<li class="nav-item">
			<a href="{% url 'conturi:login' %}">Autentifică-te | Înregistrează-te</a>
		</li>
		{% endif %}
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>

<div class="container">


{% include 'eVot_templates/mesaje.html' %}
</div>

{% block content %}

{% endblock content %}

<script>
    setTimeout(function(){
        if ($('.auto-close').length > 0) {
            $('.auto-close').remove();
        }
    }, 1500)
</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>




<!--
<body>


<header>
	<div class="container">
		<nav>
			<a class="flexbox-item flexbox-item-1" href="{% url 'pagina_de_start' %}">
			<div class="logo">
			  <span class="left">{</span>
			  <span class="right">}</span>
			  <span class="text"><strong>VOT</strong><br>ELECTRONIC</span>
			</div>
			</a>
		</nav>
	</div>
</header>



<nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
		<div class="flexbox-container">
        <a class="flexbox-item flexbox-item-1" href="{% url 'pagina_de_start' %}">
			<div class="logo">
			  <span class="left">{</span>
			  <span class="right">}</span>
			  <span class="text"><strong>VOT</strong><br>ELECTRONIC</span>
			</div>
		</a>

        <div class="flexbox-item flexbox-item-2">

			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="{% url 'pagina_de_start' %}">Start</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'info' %}">Info</a>
				</li>

				{% if user.is_authenticated %}
				<li class="nav-item">
					<a href="{% url 'conturi:logout' %}">Ieșire</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a href="{% url 'conturi:login' %}">Autentifică-te/Înregistrează-te</a>
				</li>
				{% endif %}
			</ul>

		</div>
    	</div>
</nav>
</div>
	<div class="container">


<script>
    setTimeout(function(){
        if ($('.auto-close').length > 0) {
            $('.auto-close').remove();
        }
    }, 1500)
</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body> -->
</html>