{% extends 'eVot_templates/sablon_de_baza.html' %}
{% load static %}

{% block content %}

<style>

    ul.errorlist {
        display:none;
        }

</style>

<section class="container">
<div class="row justify-content-around mt-3 text-center">
    <div class="col-sm-8">
        <h1> Add Candidate </h1>
    </div>
</div>

<div class="row justify-content-around">
    <div class="col-sm-6">
        <form method="post" class="bg-white p-3 rounded shadow" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>

</section>

{% endblock content %}
