{% extends 'coordonator_templates/coordonator_meniu_navigare.html' %}
{% load static %}

{% block content %}

{% comment %} adding sidebar {% endcomment %}
 <link rel="stylesheet" href="{% static 'dashboard.css' %}">

<body>

<div class="sidebar">
  <a href="{% url 'officer:officercrud' %}">Officer Dash</a>
  <a href="{% url 'officer:cand' %}">Candidates</a>
  <a href="{% url 'officer:user' %}">Users</a>
  <a href="{% url 'officer:quary' %}">User Quaries</a>
  <a href="{% url 'officer:approve' %}">User Approves</a>
</div> 
{% comment %} Finish sidebar {% endcomment %}

<section class="container">

<div class="row justify-content-around mt-3 text-center">
    <div class="col-sm-8">
        <h1> Candidates Data </h1>
    </div>
</div>

<div class="row justify-content-around">
    <div class="col-sm-10">
        <a href="{% url 'officer:addcand' %}" class="btn btn-primary float-right">Add Candidate</a>
    </div>
</div>

<div class="row justify-content-around mt-1 text-center">
    <div class="col-sm-10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Team</th>
                    <th scope="col">Slogan</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for cand in candata %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{cand.name}}</td>
                    <td>{{cand.team}}</td>
                    <td>{{cand.slogan}}</td>
                    <td>{{cand.description}}</td>
                    <td>
                        <form action={% url 'officer:delcand' %} method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value={{cand.id}}>
                        <input type="submit" value="Delete" class="btn-sm btn-danger">
                        </form>
                    </td>
                    <td>
                        {% comment %} <a href="{% url 'officer:editcand' cand.id %}" class="btn btn-sm btn-info">Edit</a> {% endcomment %}

                        <form action={% url 'officer:editcand' cand.id %}>
                        {% csrf_token %}
                        <input type="submit" value="Edit" class="btn-sm btn-info">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


</br>
</br>
</br>
</br>
</br>
</br>
</section>

{% endblock content %}
