{% extends 'coordonator_templates/coordonator_meniu_navigare.html' %}
{% load static %}


{% block coordonator_content %}
<link rel="stylesheet" href="{% static 'css/control.css' %}">


<section class="container">

<div class="row justify-content-around text-center">
    <div class="col-sm-8">
        <h1> Autentificat în calitate de Coordonator. </h1>
        {% if status %}
          <h4 style="color:green;margin-bottom: 25px;text-decoration: underline;">Alegerile au început.</h4>
        {% else %}
          <h4 style="color:red;margin-bottom: 25px;text-decoration: underline;">Alegerile s-au terminat.</h4>
        {%endif%}
    </div>
</div>

<div class="control text-center ">
<h5> Utilizatori: {{ usercount }} </h5>
<h5> Candidați: {{ cancount }} </h5>
<h5> Cereri Feedback: {{ quarycount }} </h5>
</div> <br>

<div class="control text-center">
  <h3 class="mr-3"> Punct de control:</h3>
      {% if status_Alegere %}
          <a href="{% url 'coordonator:endelection' %}" class="btn btn-danger" id="end" > Stop Alegeri</a>
      {% else %}
          <a href="{% url 'coordonator:startelection' %}" class="btn btn-success" id="start" >Start Alegeri</a>
      {% endif %}
</div>

</section>

{% endblock coordonator_content %}
