{% extends 'coordonator_templates/coordonator_meniu_navigare.html' %}
{% load static %}

{% block content %}

{% comment %} adding sidebar {% endcomment %}
 <link rel="stylesheet" href="{% static 'dashboard.css' %}">

<body>

<!--
<div class="sidebar">
  <a href="{% url 'officer:officercrud' %}">Officer Dash</a>
  <a href="{% url 'officer:cand' %}">Candidates</a>
  <a href="{% url 'officer:user' %}">Users</a>
  <a href="{% url 'officer:quary' %}">User Quaries</a>
  <a href="{% url 'officer:approve' %}">User Approves</a>
</div>
{% comment %} Finish sidebar {% endcomment %}
-->

<section class="container">

<div class="row justify-content-around mt-3 text-center">
    <div class="col-sm-8">
        <h1> User Data </h1>
    </div>
</div>


{% comment %} CRUD for USER start here {% endcomment %}
{% comment %} <div class="row justify-content-around">
    <div class="col-sm-10">
        <a href="{% url 'officer:adduser' %}" class="btn btn-primary float-right">Add User</a>
    </div>
</div> {% endcomment %}

<div class="row justify-content-around mt-1 text-center">
    <div class="col-sm-10">
        <table class="table table-hovers">
        <thead>
            <tr>
                <th scope="col">S.no</th>
                <th scope="col">User</th>
                <th scope="col">Fname</th>
                <th scope="col">Lname</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
                {% for udata in userdata %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{udata.user}}</td>
                <td>{{udata.user.first_name}}</td>
                <td>{{udata.user.last_name}}</td>
                <td>{{udata.user.email}}</td>
                <td>{{udata.user.id}}</td>
                <td>
                    <form action={% url 'officer:deluser' %} method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value={{udata.user.id}}>
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                        </form>
                </td>
                <td>
                        {% comment %} <a href="{% url 'officer:editcand' cand.id %}" class="btn btn-sm btn-info">Edit</a> {% endcomment %}

                        <form action={% url 'officer:edituser' udata.user.id %}>
                        {% csrf_token %}
                        <input type="submit" value="Edit" class="btn-sm btn-info">
                        </form>
                    </td>
            </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% comment %} CRUD user end here {% endcomment %}
</br>
</br>
</br>
</br>
</br>
</br>
</section>

{% endblock content %}
