{% extends 'eVot_templates/sablon_de_baza.html' %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for mesaj in messages %}
        <li> {% if mesaj.tags %} class="{{ mesaj.tags }}"{% endif %}>{{ mesaj }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="container">
        <div class="row justify-content-around mt-5">
          <div class="col-sm-9">
              <h4><u>Feedback</u></h4></br>
              {% load crispy_forms_tags %}
              <form action="" method="post">
                    {% csrf_token %}
                    <div class=form-group>
                         {{ form.nume|as_crispy_field }}</br>
                         {{ form.email|as_crispy_field }}</br>
                         {{ form.subiect|as_crispy_field }}</br>
                         {{ form.mesaj|as_crispy_field }}</br>
                         {{ form.date|as_crispy_field }}
                    </div>
                    <input type="submit" value="Trimite" class="btn btn-primary col-3">
              </form>
          </div>
        </div>
     </div>



{% endblock  %}
