{% extends 'eVot_templates/user_meniu_navigare.html' %}
{% load static %}

{% block ctrl %}
<link rel="stylesheet" href="{% static 'css/control.css' %}">
<style>

</style>

<div class="container candidati">
<center>
<h3 class="vote-title"><u> Votează candidatul favorit. </u></h3>
{% for c in candidati %}
<div class="card card-sep " style="width: 15rem;">

  <div class="text-center">
    <img src="{% static 'img/img1.jpg' %}" class="img-fluid img-sep" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{ c.nume }} </h5>
    <p class="card-text"><i> {{ c.echipa }} </i></p>
    <a href="{% url 'control:votare' c.id %}">Votează</a>
  </div>
</div>
</br>
{% endfor %}
</center>
</div>
{% endblock ctrl %}